.App {
  min-height: 100vh;
  background: linear-gradient(rgb(131, 131, 194), #94a751);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input {
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  margin-left: 5px;
}
.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
