.recipe {
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  max-width: 40%;
  padding: 10px;
}

.image {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}
